@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  --bg-color-primary: #fff;
  --bg-color-secondary: #c8daf0;
  --text-color-primary: #000;
  --text-color-secondary: #2d78be;
  --focus-color-tertiary: #c53030;
}

body[data-theme="dark"] {
  --bg-color-primary: #2d3748;
  --bg-color-secondary: #a13f3f;
  --text-color-primary: #e2e8f0;
  --focus-color-tertiary: #63b3ed;
  --text-color-secondary: #feb2b2;
}

.bg-color-primary {
  background-color: var(--bg-color-primary);
  transition: background-color 700ms ease;
}

.bg-color-secondary {
  background-color: var(--bg-color-secondary);
}

.text-color-primary {
  color: var(--text-color-primary);
}

.text-color-secondary {
  color: var(--text-color-secondary);
}

/* TODO: revisit this implementation and try to make it more Tailwind-y */
.hover-color-secondary:hover,
.hover-color-secondary:focus {
  color: var(--text-color-secondary);
  border-color: var(--text-color-secondary);
}

.focus-color-tertiary:focus {
  color: var(--focus-color-tertiary);
}

.border-color-secondary {
  border-color: var(--text-color-secondary);
}

.bg-text-primary {
  background-color: var(--text-color-secondary);
}
